<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="description" content="Connecting people to business and business to reach potential people, guiding people to reach thier needs.">
    <meta name="keywords" content="Find business, Business list, find business in cebu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>PressPen | Reaching Hands Together</title>

    <!-- Google Font -->
    <!--<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">-->

    <!-- Css Styles -->
    <link rel="stylesheet" href="presspen_css/presspen-bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="presspen_css/presspen-font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="presspen_css/presspen-elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="presspen_css/presspen-flaticon.css" type="text/css">
    <link rel="stylesheet" href="presspen_css/presspen-nice-select.css" type="text/css">
    <link rel="stylesheet" href="presspen_css/presspen-barfiller.css" type="text/css">
    <link rel="stylesheet" href="presspen_css/presspen-magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="presspen_css/presspen-jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="presspen_css/presspen-owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="presspen_css/presspen-slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="presspen_css/presspen-style.css" type="text/css">
    <script src="angularjs/angular.min.js"></script>
    <script src="angularjs/angular-route.js"></script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="presspen_preloder" style="display: none;">
        <div class="loader" style="display: none;"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="presspen-header" style="background: #f2711c;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logowebsite.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="./">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                                
                                
                                
                                
                            </ul>
                        </nav>
                        
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./listing.html" role="menuitem">Listing</a></li>
                                <li><a href="#" role="menuitem">Categories</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span></a><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="./about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="./listing-details.html" role="menuitem" tabindex="-1">Listing Details</a></li>
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="#" role="menuitem">Shop</a></li>
                            </ul>
                        </nav></div></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="presspen-hero presspen-set-bg" data-setbg="img/header/YelPages.jpg" style="background-image: url(&quot;img/header/YelPages.jpg&quot;);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__text">
                        <div class="section-title">
                            <h2>Reaching Hands Together</h2>
                            <p style="font-size:19px; color: white;">Connecting people to business and business to reach potential people</p>
                            
                            
                            <script type="application/ld+json">
                            {
                                "@context": "http://schema.org",
                                "@type": "WebSite",
                                "name":"Reaching Hands Togethere. Connecting people to business and business to reach potential people",
                                "url": "http://presspen.online/",
                                "sameAs": "https://web.facebook.com/PressPenpage",
                                "about": {
                                "@type" :	"Thing",
                                "name": "business online directory and category listing",
                                "description":"find local business in Cebu City",
                                "identifier":"Advertising Website"

                                }

                            }
                            </script>
                            
                            
                            
                            
                            
                        </div>
                        <div class="hero__search__form">
                            <form action="https://presspen.online/find/search/#">
                                
                                
                                
                                <button type="submit" style="background: #f2711c;
    width: -webkit-fill-available; margin-bottom: -13; border-radius: 9px;
">Get Started</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="presspen-categories presspen-spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 style="color: #f2711c;">Most Categories That You May Need</h2>
<p style="color: #f2711c;">Establishments that you may need outside in your place</p>
                        
                    </div>
                    <div class="categories__item__list">
                        <div class="categories__item">
                            <img src="img/categories/cat-1.png" alt="Presspen your money transferrer information guide in cebu city">
                            <h5><!--Food &amp; Drink-->Money Transferrer</h5>
                            <span>78 Listings</span>
                        </div>
                        <div class="categories__item">
                            <img src="img/categories/cat-2.png" alt="Presspen your grocery information guide in cebu city">
                            <h5>Grocery</h5>
                            <span>32 Listings</span>
                        </div>
                        <div class="categories__item">
                            <img src="img/categories/cat-3.png" alt="Presspen your pharmacy information guide in cebu city">
                            <h5>Pharmacy</h5>
                            <span>10 Listings</span>
                        </div>
                        <div class="categories__item">
                            <img src="img/categories/cat-4.png" alt="Presspen your banks information guide in cebu city">
                            <h5>Banks</h5>
                            <span>55 Listings</span>
                        </div>
                        <div class="categories__item">
                            <img src="img/categories/cat-5.png" alt="Presspen your gasoline station information guide in cebu city">
                            <h5>Gasoline Stations</h5>
                            <span>23 Listings</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Most Search Section Begin -->
    <section class="presspen-most-search presspen-spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 style="color: #f2711c;">Open Local Businesses Recommendation</h2>
                        <p style="color: #f2711c; font-size: 19px; font-weight: bold;">These are the local businesses that still open's today <span id='getdateforopenbusiness'></span >. Note : It's not verified</p>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="listing__item">
                                        
                                        <div class="listing__item__text" style="padding-left: 10px; padding-right: 10px; padding-top: 19px;">
                                            <div class="listing__item__text__inside">
                                                <h5 class="ng-binding" style="color: #f2711c;">Gaisano Capital South</h5>
                                                <div class="listing__item__text__rating">
                                                    <div class="listing__item__rating__star">
                                                        
                                                        
                                                        
                                                        
                                                        
                                                        <div ng-if="a.rate>=3 &amp;&amp; a.rate<=3.9" class="ng-scope">
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="ng-binding">&nbsp;&nbsp;&nbsp;(1,039)</span>
                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <ul style="margin-top: -10px;">
                                                    <li><span class="icon_pin_alt"></span> Henry Gaisano Building, Colon Street Corner Leon Kilat Street</li><!-- end ngIf: a.address != empty -->
                                                    <li><span class="icon_phone"></span> (032) 260 7888</li><!-- end ngIf: a.contact != '' -->
                                                    
                                                    
                                                    <li class="ng-binding"><span></span><!-- ngIf: a.website != empty && a.website != '' --></li>
                                                    <li class="ng-binding" style="
                                                        margin-left: -24px;
                                                        width: 37;
                                                        "> <img src="img/listing/details/map-icon.png" alt="Presspen cebu map indecator icon logo"><span style="
                                                        margin-left: 50px;
                                                        margin-top: -9%;
                                                        color: #323232
                                                    "> Maps</span> </li>
                                                </ul>
                                            </div>
                                            <div class="listing__item__text__info" style="margin-top:-17px; border-top: 0px solid #e1e1e1;">
                                                <div class="listing__item__text__info__left">
                                                    <img src="img/categories/new/restaurant.png" alt="Presspen Grocery or groceries that are available and still open's in cebu city that Most Categories That You May Need
Establishments that you may need outside in your place in cebu city">
                                                    <span class="ng-binding">Mall</span>
                                                </div>
                                                <div class="listing__item__text__info__right ng-binding" style="color:gray;">Bukas hanggang 8:00 PM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="listing__item">
                                        
                                        <div class="listing__item__text" style="padding-left: 10px; padding-right: 10px; padding-top: 19px;">
                                            <div class="listing__item__text__inside">
                                                <h5 class="ng-binding" style="color: #f2711c;">Colonnade Supermarket</h5>
                                                <div class="listing__item__text__rating">
                                                    <div class="listing__item__rating__star">
                                                        
                                                        
                                                        
                                                        
                                                        
                                                        <div ng-if="a.rate>=3 &amp;&amp; a.rate<=3.9" class="ng-scope">
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="ng-binding">&nbsp;&nbsp;&nbsp;(1,039)</span>
                                        </div>     
                                                    </div>
                                                   
                                                </div>
                                                <ul style="margin-top: -10px;">
                                                    <li><span class="icon_pin_alt"></span> Colon St, Cebu City, 6000 Cebu</li>
                                                    <li><span class="icon_phone"></span> (032) 255 2510</li>
                                                    
                                                    
                                                    <li class="ng-binding"><span></span></li>
                                                    <li class="ng-binding" style="
                                                        margin-left: -24px;
                                                        width: 37;
                                                        "> <img src="img/listing/details/map-icon.png" alt="Presspen cebu map indecator icon logo"><span style="
                                                        margin-left: 50px;
                                                        margin-top: -9%;
                                                        color: #323232
                                                    "> Maps</span> </li>
                                                </ul>
                                            </div>
                                            <div class="listing__item__text__info" style="margin-top:-17px; border-top: 0px solid #e1e1e1;">
                                                <div class="listing__item__text__info__left">
                                                    <img src="img/categories/new/grocery.png" alt="Presspen banks that are available and still open's in cebu city that Most Categories That You May Need
Establishments that you may need outside in your place in cebu city">
                                                    <span class="ng-binding">Gropcery</span>
                                                </div>
                                                <div class="listing__item__text__info__right ng-binding" style="color:gray;">Bukas hanggang 9:00 PM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="listing__item">
                                        
                                        <div class="listing__item__text" style="padding-left: 10px; padding-right: 10px; padding-top: 19px;">
                                            <div class="listing__item__text__inside">
                                                <h5 class="ng-binding" style="color: #f2711c;">Super Metro</h5>
                                                <div class="listing__item__text__rating">
                                                    <div class="listing__item__rating__star">
                                                        
                                                        
                                                        
                                                        
                                                        
                                                        <div ng-if="a.rate>=3 &amp;&amp; a.rate<=3.9" class="ng-scope">
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="ng-binding">&nbsp;&nbsp;&nbsp;(1,039)</span>
                                        </div>   
                                                    </div>
                                                   
                                                </div>
                                                <ul style="margin-top: -10px;">
                                                    <li><span class="icon_pin_alt"></span> Colon Corner Junquera Street, Cebu City, 6000 Cebu</li>
                                                    <li><span class="icon_phone"></span> (032) 260 7888</li>
                                                    
                                                    
                                                    <li class="ng-binding"><span></span></li>
                                                    <li class="ng-binding" style="
                                                        margin-left: -24px;
                                                        width: 37;
                                                        "> <img src="img/listing/details/map-icon.png" alt="Presspen cebu map indecator icon logo"><span style="
                                                        margin-left: 50px;
                                                        margin-top: -9%;
                                                        color: #323232
                                                    "> Maps</span> </li>
                                                </ul>
                                            </div>
                                            <div class="listing__item__text__info" style="margin-top:-17px; border-top: 0px solid #e1e1e1;">
                                                <div class="listing__item__text__info__left">
                                                    <img src="img/categories/new/grocery.png" alt="Presspen pharmacy or pharmacies and drugstores or drug stores that are available and still open's in cebu city that Most Categories That You May Need
Establishments that you may need outside in your place in cebu city">
                                                    <span class="ng-binding">Supermarket</span>
                                                </div>
                                                <div class="listing__item__text__info__right ng-binding" style="color:gray;">Bukas hanggang 9:00 PM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="listing__item">
                                        
                                        <div class="listing__item__text" style="padding-left: 10px; padding-right: 10px; padding-top: 19px;">
                                            <div class="listing__item__text__inside">
                                                <h5 class="ng-binding" style="color: #f2711c;">Rustan’s, Ayala Center Cebu</h5>
                                                <div class="listing__item__text__rating">
                                                    <div class="listing__item__rating__star">
                                                        
                                                        
                                                        
                                                        
                                                        
                                                       <div ng-if="a.rate>=3 &amp;&amp; a.rate<=3.9" class="ng-scope">
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="ng-binding">&nbsp;&nbsp;&nbsp;(1,039)</span>
                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                <ul style="margin-top: -10px;">
                                                    <li><span class="icon_pin_alt"></span> Bohol Ave, Cebu City, Cebu</li>
                                                    <li><span class="icon_phone"></span> (032) 517 0500</li>
                                                    
                                                    
                                                    <li class="ng-binding"><span></span</li>
                                                    <li class="ng-binding" style="
                                                        margin-left: -24px;
                                                        width: 37;
                                                        "> <img src="img/listing/details/map-icon.png" alt="Presspen cebu map indecator icon logo"><span style="
                                                        margin-left: 50px;
                                                        margin-top: -9%;
                                                        color: #323232
                                                    "> Maps</span> </li>
                                                </ul>
                                            </div>
                                            <div class="listing__item__text__info" style="margin-top:-17px; border-top: 0px solid #e1e1e1;">
                                                <div class="listing__item__text__info__left">
                                                    <img src="img/categories/new/grocery.png" alt="Presspen money transferrer or money changer that are available and still open's in cebu city that Most Categories That You May Need
Establishments that you may need outside in your place in cebu city">
                                                    <span class="ng-binding">Supermarket</span>
                                                </div>
                                                <div class="listing__item__text__info__right ng-binding" style="color:gray;">Bukas hanggang 9:00 PM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="listing__item">
                                        
                                        <div class="listing__item__text" style="padding-left: 10px; padding-right: 10px; padding-top: 19px;">
                                            <div class="listing__item__text__inside">
                                                <h5 class="ng-binding" style="color: #f2711c;">Metrobank</h5>
                                                <div class="listing__item__text__rating">
                                                    <div class="listing__item__rating__star">
                                                        
                                                        
                                                        
                                                        
                                                        
                                                        <div ng-if="a.rate>=3 &amp;&amp; a.rate<=3.9" class="ng-scope">
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="ng-binding">&nbsp;&nbsp;&nbsp;(1,039)</span>
                                        </div>     
                                                    </div>
                                                   
                                                </div>
                                                <ul style="margin-top: -10px;">
                                                    <li><span class="icon_pin_alt"></span> Cebu Business Park, Stall PL1J/EBB1, Basement Level 1 Ayala Center Cebu, Archbishop Reyes Ave, Cebu City</li>
                                                    <li><span class="icon_phone"></span> (063) 412 4044</li>
                                                    
                                                    
                                                    <li class="ng-binding"><span></span></li>
                                                    <li class="ng-binding" style="
                                                        margin-left: -24px;
                                                        width: 37;
                                                        "> <img src="img/listing/details/map-icon.png" alt="Presspen cebu map indecator icon logo"><span style="
                                                        margin-left: 50px;
                                                        margin-top: -9%;
                                                        color: #323232
                                                    "> Maps</span> </li>
                                                </ul>
                                            </div>
                                            <div class="listing__item__text__info" style="margin-top:-17px; border-top: 0px solid #e1e1e1;">
                                                <div class="listing__item__text__info__left">
                                                    <img src="img/categories/new/hotel.png" alt="Presspen gasoiline stations that are available and still open's in cebu city that Most Categories That You May Need
Establishments that you may need outside in your place in cebu city">
                                                    <span class="ng-binding">Bank</span>
                                                </div>
                                                <div class="listing__item__text__info__right ng-binding" style="color:gray;">Bukas hanggang 4:00 PM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="listing__item">
                                        
                                        <div class="listing__item__text" style="padding-left: 10px; padding-right: 10px; padding-top: 19px;">
                                            <div class="listing__item__text__inside">
                                                <h5 class="ng-binding" style="color: #f2711c;">Rose Pharmacy Colon</h5>
                                                <div class="listing__item__text__rating">
                                                    <div class="listing__item__rating__star">
                                                        
                                                        
                                                        
                                                        
                                                        
                                                        <div ng-if="a.rate>=3 &amp;&amp; a.rate<=3.9" class="ng-scope">
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="ng-binding">&nbsp;&nbsp;&nbsp;(1,039)</span>
                                        </div>    
                                                    </div>
                                                   
                                                </div>
                                                <ul style="margin-top: -10px;">
                                                    <li><span class="icon_pin_alt"></span> Avila Bldg, Colon St, Cebu City, 6000 Cebu</li>
                                                    <li><span class="icon_phone"></span> 	(032) 255 6505</li>
                                                    
                                                    
                                                    <li class="ng-binding"><span></span></li>
                                                    <li class="ng-binding" style="
                                                        margin-left: -24px;
                                                        width: 37;
                                                        "> <img src="img/listing/details/map-icon.png" alt="Presspen cebu map indecator icon logo"><span style="
                                                        margin-left: 50px;
                                                        margin-top: -9%;
                                                        color: #323232
                                                    "> Maps</span> </li>
                                                </ul>
                                            </div>
                                            <div class="listing__item__text__info" style="margin-top:-17px; border-top: 0px solid #e1e1e1;">
                                                <div class="listing__item__text__info__left">
                                                    <img src="img/categories/new/medical.png" alt="Presspen supermaerkets that are available and still open's in cebu city that Most Categories That You May Need
Establishments that you may need outside in your place in cebu city">
                                                    <span class="ng-binding">Pharmacy</span>
                                                </div>
                                                <div class="listing__item__text__info__right ng-binding" style="color:gray;">Bukas hanggang 9:00 PM</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Offer",
    "url": "http://presspen.online/",
    "areaServed":"Cebu City",
    "availability":"Business that are open in Cebu City",
    "category": "Open Business and establishment"
	
   
}
</script>
    
   
    

    <!-- Testimonial Section Begin -->
    <section class="testimonial presspen-spad presspen-set-bg" style="/*background-image: url(&quot;img/testimonial/testimonial-bg.jpg&quot;);*/ background-color: #b14f0eba;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Presspen wants to help you By Sharing Our Local Business Information</h2>
                        <p>Our Insights</p>
                    </div>
                    <div class="testimonial__slider owl-carousel owl-loaded owl-drag">
                        
                        
                        
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2280px, 0px, 0px); transition: all 0s ease 0s; width: 7980px;"><div class="owl-item cloned" style="width: 1140px;"><div class="testimonial__item" data-hash="review-2">
                            <p>" In Presspen, We don't only just work, We create an extraordinary by guiding people in the form of information to be secure outside anywhere."</p>
                            
                                <h5 style="color: white;"> - Founder</h5>
                                
                            <span style="color: #08d4f5;">PressPen</span>
                        </div></div>
                            
                        </div></div><div class="owl-nav"></div><div class="owl-dots disabled"></div></div>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Newslatter Section Begin -->
    <section class="presspen-newslatter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title">
                        <h3 style="color: #f2711c;font-weight: 700;">Reminder</h3>
                        <p style="color: #f2711c;font-size: 15px;">Due to Government restrictions, Some information on this website may vary in the actual detailed information and business may temporarily close. If you are concerned, please report to us for any changes. We hope this works for you and in small ways we helped you.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Newslatter Section End -->

    <!-- Footer Section Begin -->
    <footer class="presspen-footer" style="background:#f2711c">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="img/footer-logo.png" alt="Presspen Reaching Hands Togethere Connecting people to business and business to reach potential people"></a>
                    </div>
                    <p style="color: #2125299e;"><!--Due to econonomic evolution and global change of life style including our country, We hope this can provide you an information. Lets make helping hands together.-->Guiding you is our commitment by helping you as a seeker. We wish you to be safe. Let's make helping hands together.</p>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-md-6">
                <div class="footer__address">
                    <ul>
                        <li>
                            <span style="color: #212529; font-size: 19px;">Call Us:</span>
                            <p style="color: #dee2e6;">+(63) 09234648295</p>
                        </li>
                        <li>
                            <span style="color: #212529; font-size: 19px;">Email:</span>
                            <p style="color: #dee2e6;">www.presspen@gmail.com</p>
                        </li>
                        <li>
                            <span></span>
                            <p></p>
                        </li>
                        <li>
                            <span style="color: #f8f9fa;">Connect Us:</span>
                            <div class="footer__social">
                                <a href="#"><i class="fa fa-facebook" style="color: #f8f9fa;"> Facebook</i></a>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6">
                <div class="footer__widget">
                    <ul>
                        <li><a href="./" style="color: #f8f9fa;">Home</a></li>
                        <li><a href="./support.html" style="color: #f8f9fa;">Support</a></li>
                        <li></li>
                        <li><a href="./contact.html" style="color: #f8f9fa;">Contact</a></li>
                        <li><a href="about.html"style="color: #f8f9fa;" >About</a></li>
                    </ul>
                    <ul>
                        <li><p style="color: #f8f9fa; text-decoration: none;">For Advertisers <span style="font-size: larger; font-weight: bold;">: </span>

<p style="color: #f8f9fa;">For Business Posting And Inqueries You May Call At +(63) 09234648295</p>

<br></p></li>
                        
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright" style="background:#f2711c; border-top: none;">
                    <div class="footer__copyright__text"><p style="color: #343a40;">
                            Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is powered and made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="" target="_blank"><span style="color: #f8f9fa">PressPen</span></a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                    <div class="footer__copyright__links">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="presspen_js/presspen-jquery-3.3.1.min.js"></script>
    <script src="presspen_js/presspen-bootstrap.min.js"></script>
    <script src="presspen_js/presspen-jquery.nice-select.min.js"></script>
    <script src="presspen_js/presspen-jquery-ui.min.js"></script>
    <script src="presspen_js/presspen-jquery.nicescroll.min.js"></script>
    <script src="presspen_js/presspen-jquery.barfiller.js"></script>
    <script src="presspen_js/presspen-jquery.magnific-popup.min.js"></script>
    <script src="presspen_js/presspen-jquery.slicknav.js"></script>
    <script src="presspen_js/presspen-owl.carousel.min.js"></script>
    <script src="presspen_js/presspen-main.js"></script>


</body></html>




<script>
    var datenow = new Date();
    document.getElementById("getdateforopenbusiness").innerHTML =  datenow.getMonth().toString() + "-" + datenow.getDate().toString() + "-" + datenow.getFullYear().toString();
</script>
<script>
    function opennumber(){
        alert("Call For Any Assistance at 09234648295");
    }
    </script>
    
    
    
    
    <script>
        var app = angular.module('myApp', ['ngRoute']);
app.config(function ($routeProvider) {
                $routeProvider
                        .when("/", {
                            templateUrl: "views/index.html"
                        })
                                .otherwise({
                        template : "x"
                        });
            });
        </script>
