<div id="presspen_preloder" style="display: none;">
            <div class="loader" style="display: none;"></div>
        </div>
        <header class="presspen-header" style="background:#17a2b8; height: 11%; height: 70px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="header__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="header__nav">
                            <nav class="header__menu mobile-menu">
                                <ul>
                                    <li><a href="../../" style="color: #f8f9fa; text-decoration: none;">Home</a></li>
                                    <li><a href="../../about.html" style="color: #f8f9fa; text-decoration: none;">About</a></li>
                                    <li><a href="../../contact.html" style="color: #f8f9fa; text-decoration: none;">Contact</a></li>
                                    <!--<li><a href="#">Categories</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="./about.html">About</a></li>
                                            <li><a href="./listing-details.html">Listing Details</a></li>
                                            <li><a href="./blog-details.html">Blog Details</a></li>
                                            <li><a href="./contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="./blog.html">Blog</a></li>
                                    <li><a href="#">Shop</a></li>-->
                                </ul>
                            </nav>
                            <div class="header__menu__right">


                            </div>
                        </div>
                    </div>
                </div>
                <div id="mobile-menu-wrap"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./listing.html" role="menuitem">Listing</a></li>
                                <li><a href="#" role="menuitem">Categories</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row"></a><a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="./about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="./listing-details.html" role="menuitem" tabindex="-1">Listing Details</a></li>
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="#" role="menuitem">Shop</a></li>
                            </ul>
                        </nav></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./listing.html" role="menuitem">Listing</a></li>
                                <li><a href="#" role="menuitem">Categories</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"></a><a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="./about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="./listing-details.html" role="menuitem" tabindex="-1">Listing Details</a></li>
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="#" role="menuitem">Shop</a></li>
                            </ul>
                        </nav></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./listing.html" role="menuitem">Listing</a></li>
                                <li><a href="#" role="menuitem">Categories</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"></a><a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="./about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="./listing-details.html" role="menuitem" tabindex="-1">Listing Details</a></li>
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="#" role="menuitem">Shop</a></li>
                            </ul>
                        </nav></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./listing.html" role="menuitem">Listing</a></li>
                                <li><a href="#" role="menuitem">Categories</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"></a><a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="./about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="./listing-details.html" role="menuitem" tabindex="-1">Listing Details</a></li>
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="#" role="menuitem">Shop</a></li>
                            </ul>
                        </nav></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./listing.html" role="menuitem">Listing</a></li>
                                <li><a href="#" role="menuitem">Categories</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"></a><a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="./about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="./listing-details.html" role="menuitem" tabindex="-1">Listing Details</a></li>
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="#" role="menuitem">Shop</a></li>
                            </ul>
                        </nav></div></div>
            </div>
        </header>
        <section class="presspen-hero presspen-set-bg" data-setbg="../../img/header/YelPages.jpg" style="background-color: white; /*background-image: url(&quot;../../img/header/YelPages.jpg&quot;);*/ /*background-image: url('../../img/header/Yelpages (1).png'); #004794e6*/ padding: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero__text" style="margin-top: 7%; margin-bottom: -3%;">
                            <div class="section-title" style="
                            margin-top: -30px;
                            ">
                                                           <img src="../../img/listing/list-5.jpg" style="
                                width: 70%;
                                height: 100px;
                            ">

                            </div>
                            <div class="section-title">
                                <h2 style="background: none; color: #17a2b8;">Find Establishment Places And Services Near You</h2>

                            </div>
                            <div class="hero__search__form">
                                <form>
                                    <input type="text" placeholder="Search..." ng-model="search" style="width:85%; border: 1px solid">
                                    <!--div class="select__option">
                                        <select style="display: none;">
                                            <option value="">Choose Categories</option>
                                        </select><div class="nice-select" tabindex="0"><span class="current">Choose Categories</span><ul class="list"><li data-value="" class="option selected">Choose Categories</li></ul></div>
                                    </div>-->
                                    <!--<div class="select__option">
                                        <select style="display: none;">
                                            <option value="">Choose Location</option>
                                        </select><div class="nice-select" tabindex="0"><span class="current">Choose Location</span><ul class="list"><li data-value="" class="option selected">Choose Location</li></ul></div>
                                    </div>-->
                                    <button type="submit" ng-click="search_btn()" style="background-color:#17a2b8">{{presspenbtgraph}}</button>
                                </form>
                            </div>
                            
                            
                            
                            
                            <ul class="hero__categories__tags" style="background: none;">
                                <li><a href="#" ng-click="moneytransferrerbtn()" style="color:#17a2b8; border-color: {{moneytransferrerbordercolor}}; border-width: {{moneytransferrerwidth}}; font-size: 19px; text-decoration: none; font-weight: bold;"> Money Transferrer</a></li>
                                <li><a href="#" ng-click="grocerybtn()" style="color:#17a2b8; border-color: {{grocerybtnbordercolor}}; border-width: {{grocerybtnwidth}}; font-size: 19px; text-decoration: none; font-weight: bold;"> Grocery</a></li>
                                <li><a href="#" ng-click="pharmacybtn()" style="color:#17a2b8; border-color: {{pharmacybtnbordercolor}}; border-width: {{pharmacybtnwidth}}; font-size: 19px; text-decoration: none;font-weight: bold; "> Pharmacy</a></li>




                                <!--<li><a href="#" ng-click="pharmacybtn()" style="color:{{pharmacybtncolor}}; border-color: {{pharmacybtnbordercolor}}; border-width: {{pharmacybtnwidth}};"> Pharmacy</a></li>-->
                                <li><a href="#" ng-click="gasolinestationbtn()" style="color:#17a2b8; border-color: {{gasolinestationbtnbordercolor}}; border-width: {{gasolinestationbtnwidth}}; font-size: 19px; text-decoration: none; font-weight: bold;"> Gasoline Station</a></li>
                                <li><a href="#" ng-click="bankbtn()" style="color:#17a2b8; border-color: {{banksbordercolor}}; border-width: {{bankswidth}}; font-size: 19px; text-decoration: none; font-weight: bold;"> Banks</a></li>
                                <!--<li><a href="#"> Dentist</a></li>
                                <li><a href="#"> Education</a></li>
                                <li><a href="#"> Police Station</a></li>
                                <li><a href="#"> Airport</a></li>
                                <li><a href="#"> Seaport</a></li>
                                <li><a href="#"> Land Terminal</a></li>
                                <li><a href="#" ng-click="mallbtn()" style="color:{{mallbtncolor}}; border-color: {{mallbtnbordercolor}}; border-width: {{mallbtnwidth}}"> Mall</a></li>
                                <li><a href="#"> Supermarket</a></li>
                                <li><a href="#"> Grocery</a></li>
                                <li><a href="#"> Places</a></li>
                                <li><a href="#"> Hardware</a></li>-->
                                
                                <li>
                                    <!--<select style="margin-top: -43px; background-color: transparent;/* border-color: transparent; *//* width: 100%; */width: -webkit-fill-available;border-color: transparent;">
                                        <option>
                                            
                                        </option>
                                        <option>
                                            sadasdasdas
                                        </option>
                                        <option>
                                            sadasdasdas
                                        </option>
                                        </select>-->
                                </li>
                            </ul>
                            
                            
                            
                            <div class="section-title" style="
                                margin-top: -30px;
                                font-size: 15px;
                                font-weight: bold;
                                color: #17a2b8;
                                margin-bottom: -1px;
                            " id="hideline">___________________________________________________________________________________________
                            </div>
                            <ul class="hero__categories__tags"style="background: none; margin-top: 10px;"  id="hidemore">
                                <li><a href="#" ng-click="foodsandrestaurantbtn()" style="color:{{foodsandrestaurantbtncolor}}; border-color: {{foodsandrestaurantbtnbordercolor}}; border-width: {{foodsandrestaurantbtnwidth}}; font-size: 19px; text-decoration: none;"> Foods Restaurants</a></li>
                                <li><a href="#" ng-click="portsbtn()" style="color:{{portsbtncolor}}; border-color: {{portsbtnbordercolor}}; border-width: {{portsbtnwidth}}; font-size: 19px; text-decoration: none;"> Ports</a></li>
                                <li><a href="#" ng-click="postofficebtn()" style="color:{{postofficebtncolor}}; border-color: {{postofficebtnbordercolor}}; border-width: {{postofficebtnwidth}}; font-size: 19px; text-decoration: none;"> Post Office</a></li>
                                <!--<li><a href="#" ng-click="beauty()" style="color:{{beautybtncolor}}; border-color: {{beautybtnbordercolor}}; border-width: {{beautybtnwidth}};"> Beauty</a></li>-->
                                <li><a href="#" ng-click="mallsbtn()" style="color:{{mallsbtncolor}}; border-color: {{mallsbtnbordercolor}}; border-width: {{mallsbtnwidth}}; font-size: 19px; text-decoration: none;"> Malls</a></li>




                                <!--<li><a href="#" ng-click="pharmacybtn()" style="color:{{pharmacybtncolor}}; border-color: {{pharmacybtnbordercolor}}; border-width: {{pharmacybtnwidth}};"> Pharmacy</a></li>-->
                                <li><a href="#" ng-click="hardwarebtn()" style="color:{{hardwarebtncolor}}; border-color: {{hardwarebtnbordercolor}}; border-width: {{hardwarebtnwidth}}; font-size: 19px; text-decoration: none;"> Hardware</a></li>
                                <li><a href="#" ng-click="hotelbtn()" style="color:{{hotelbtncolor}}; border-color: {{hotelbtnbordercolor}}; border-width: {{hotelbtnwidth}}; font-size: 19px; text-decoration: none;"> Hotel</a></li>
                                <li><a href="#" ng-click="hospitalbtn()" style="color:{{hospitalbtncolor}}; border-color: {{hospitalbtnbordercolor}}; border-width: {{hospitalbtnwidth}}; font-size: 19px; text-decoration: none;"> Hospital</a></li>
                                <!--<li><a href="#"> Dentist</a></li>
                                <li><a href="#"> Education</a></li>
                                <li><a href="#"> Police Station</a></li>
                                <li><a href="#"> Airport</a></li>
                                <li><a href="#"> Seaport</a></li>
                                <li><a href="#"> Land Terminal</a></li>
                                <li><a href="#" ng-click="mallbtn()" style="color:{{mallbtncolor}}; border-color: {{mallbtnbordercolor}}; border-width: {{mallbtnwidth}}"> Mall</a></li>
                                <li><a href="#"> Supermarket</a></li>
                                <li><a href="#"> Grocery</a></li>
                                <li><a href="#"> Places</a></li>
                                <li><a href="#"> Hardware</a></li>-->
                                <li><a href="#" ng-click="allbtn()" style="
    color: #17a2b8;
    border-color: #17a2b8;
    /* background-color: #ff0000ad; */
    border-width: 3px;
 font-size: 19px; text-decoration: none;"> All</a></li>
                                <li>
                                    <!--<select style="margin-top: -43px; background-color: transparent;/* border-color: transparent; *//* width: 100%; */width: -webkit-fill-available;border-color: transparent;">
                                        <option>
                                            
                                        </option>
                                        <option>
                                            sadasdasdas
                                        </option>
                                        <option>
                                            sadasdasdas
                                        </option>
                                        </select>-->
                                </li>
                            </ul>
                            
                            
                            <div class="section-title" style="
                                margin-bottom: -39px;
                            "><button ng-click="showcategories()" style="border-color: transparent; color: #17a2b8;" id="printnameloadmore">Load more</button>
                            <button ng-click="hidecategories()" style="border-color: transparent; color: #17a2b8;" id="printnameloadless">Load less</button></div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>