
<!-- Page Preloder -->
    <div id="preloder" style="display: none;">
        <div class="loader" style="display: none;"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="presspen-header ng-scope" style="background: #f2711c;height: 11%;height: 50px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div class="header__logo">
                            <a href="./index.html"><img src="/../../../img/logowebsite.png" alt="Reaching Hands Together. Connecting people to business and business to reach potential people

" style="margin-top: -103px;"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="header__nav" style="
    margin-top: -17px;
">
                            <nav class="header__menu mobile-menu">
                                <ul style="margin-top: -30px;">
                                    <li><a href="../../" style="color: #f8f9fa; text-decoration: none;">Home</a></li>
                                    <li><a href="../../about.html" style="color: #f8f9fa; text-decoration: none;">About</a></li>
                                    <li><a href="../../contact.html" style="color: #f8f9fa; text-decoration: none;">Contact</a></li>
                                    
                                </ul>
                            </nav>
                            <div class="header__menu__right">


                            </div>
                        </div>
                    </div>
                </div>
                <div id="mobile-menu-wrap"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./listing.html" role="menuitem">Listing</a></li>
                                <li><a href="#" role="menuitem">Categories</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row"></a><a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="./about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="./listing-details.html" role="menuitem" tabindex="-1">Listing Details</a></li>
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="#" role="menuitem">Shop</a></li>
                            </ul>
                        </nav></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./listing.html" role="menuitem">Listing</a></li>
                                <li><a href="#" role="menuitem">Categories</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"></a><a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="./about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="./listing-details.html" role="menuitem" tabindex="-1">Listing Details</a></li>
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="#" role="menuitem">Shop</a></li>
                            </ul>
                        </nav></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./listing.html" role="menuitem">Listing</a></li>
                                <li><a href="#" role="menuitem">Categories</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"></a><a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="./about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="./listing-details.html" role="menuitem" tabindex="-1">Listing Details</a></li>
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="#" role="menuitem">Shop</a></li>
                            </ul>
                        </nav></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./listing.html" role="menuitem">Listing</a></li>
                                <li><a href="#" role="menuitem">Categories</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"></a><a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="./about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="./listing-details.html" role="menuitem" tabindex="-1">Listing Details</a></li>
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="#" role="menuitem">Shop</a></li>
                            </ul>
                        </nav></div><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><nav class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                            <ul>
                                <li class="active"><a href="./index.html" role="menuitem">Home</a></li>
                                <li><a href="./listing.html" role="menuitem">Listing</a></li>
                                <li><a href="#" role="menuitem">Categories</a></li>
                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"></a><a href="#">Pages</a>
                                    <span class="slicknav_arrow">►</span><ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                        <li><a href="./about.html" role="menuitem" tabindex="-1">About</a></li>
                                        <li><a href="./listing-details.html" role="menuitem" tabindex="-1">Listing Details</a></li>
                                        <li><a href="./blog-details.html" role="menuitem" tabindex="-1">Blog Details</a></li>
                                        <li><a href="./contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html" role="menuitem">Blog</a></li>
                                <li><a href="#" role="menuitem">Shop</a></li>
                            </ul>
                        </nav></div></div>
            </div>
        </header>
    

    <!-- Listing Section Begin -->
    <section class="listing-hero set-bg" data-setbg="../../img/listing/details/listing-hero.jpg" style="background-image: url(&quot;../../img/listing/details/listing-hero.jpg&quot;); margin-top: 2.6%;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="listing__hero__option">
                        <div class="listing__hero__icon">
                            
                        </div>
                        <div class="listing__hero__text">
                            <h2>{{name}}</h2>
                            <div class="listing__hero__widget">
                                <div class="listing__hero__widget__rating">
                                    
                                        <div ng-if="rate==1 && rate<=1.9"><span class="icon_star"></span></div>
                                        <div ng-if="rate>=2 && rate<=2.9">
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                        </div>
                                        <div ng-if="rate>=3 && rate<=3.9">
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                        </div>
                                        <div ng-if="rate>=4 && rate<=4.9">
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                        </div>
                                        <div ng-if="rate>=5 && rate<=5.9">
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                            <span class="icon_star"></span>
                                        </div>
                                    </div>
                                
                                <div>{{review}} Review</div>
                            </div>
                            <p><span class="icon_pin_alt"></span> {{address}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="listing__hero__btns">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Listing Section End -->

    <!-- Listing Details Section Begin -->
    <section class="listing-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="listing__details__text" style="margin-top: 3%;">
                        <div class="listing__details__about">
                            <h4>Overview</h4>
                            <p>{{title_description}}.</p>
                            <p></p>
                        </div>
                        
                        
                        <div class="listing__details__comment">
                            
                            
                            
                            
                            <h4>Comment</h4>
                            
                            
                            
                            
                            
                            
                            
                            <div class="listing__details__comment__item" ng-repeat="a in establishmentsdetails" ng-if="a.title == name && a.address == address && a.contact == phone" style="margin-top: -3%;">
                                <span style="color: transparent;">{{get(a.title)}}</span>
                                
                                <div class="listing__details__comment__item__text" ng-repeat="array in arr">
                                    <div class="listing__details__comment__item__rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>{{arrs[$index]}}</span>
                                    <div class="listing__details__comment__item__pic">
                                    <img src="../../img/listing/details/comment.png" alt="">
                                </div>
                                    <h5>{{array.reviewer_name}}</h5>
                                    <p>{{txt[$index]}}</p>
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                        
                        
                        
                        
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="listing__sidebar">
                        <div class="listing__sidebar__contact" style="margin-top: 10%;">
                            <div class="listing__sidebar__contact__map">
                                <iframe ng-src="https://maps.google.com/maps?q=cebu&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" height="200" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                <img src="../../img/listing/details/map-icon.png" alt="">
                            </div>
                            <div class="listing__sidebar__contact__text">
                                <h4>Contacts</h4>
                                <ul>
                                    <li><span class="icon_pin_alt"></span> {{address}}</li>
                                    <li><span class="icon_phone"></span> {{phone}}</li>
                                    <!--<li><span class="icon_mail_alt"></span> Info.colorlib@gmail.com</li>-->
                                    <li><span class="icon_globe-2"></span> <p ng-if="websites(phone) == empty">None</p><p ng-if="websites(phone) != empty">{{websites(phone)}}</p></li>
                                </ul>
                                
                            </div>
                        </div>
                        <div class="listing__sidebar__working__hours">
                            <h4>Working Hours</h4>
                            <ul>
                                
                                <li style="color:green">{{operation_establishment}}</li>
                            </ul>
                        </div>
                        </br>
                        <div class="listing__sidebar__working__hours">
                            <h4>Amenities</h4>
                            <ul>
                                
                                <li style="color:green">{{other_detail_service}}</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <!-- Footer Section Begin -->
    <footer class="presspen-footer" style="background:#f2711c;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="../../img/logowebsite.png" alt="Presspen logo in finding business establishments and its informations in cebu city" style="margin-top: -70px; margin-bottom: -90;"></a>
                    </div>
                    <p style="color: #2125299e;">Guiding you is our commitment by helping you as a seeker. We wish you to be safe. Let's make helping hands together.</p>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-md-6">
                <div class="footer__address">
                    <ul>
                        <li>
                            <span style="color: #212529; font-size: 19px;">Call Us:</span>
                            <p style="color: #dee2e6;">+(63) 09234648295</p>
                        </li>
                        <li>
                            <span style="color: #212529; font-size: 19px;">Email:</span>
                            <p style="color: #dee2e6;">www.presspen@gmail.com</p>
                        </li>
                        <li>
                            <span></span>
                            <p></p>
                        </li>
                        <li>
                            <span style="color: #dee2e6;">Connect Us:</span>
                            <div class="footer__social">
                                <a href="https://web.facebook.com/PressPenpage" target="_blank"><i class="fa fa-facebook" style="color: #f8f9fa;"> Facebook</i></a>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6">
                <div class="footer__widget">
                    <ul>
                        <li><a href="../../" style="color: #dee2e6; text-decoration: none;">Home</a></li>
                        <li><a href="./support.html" style="color: #dee2e6; text-decoration: none;">Support</a></li>
                        <li></li>
                        <li><a href="../../contact.html" style="color: #dee2e6; text-decoration: none;">Contact</a></li>
                        <li><a href="../../about.html" style="color: #dee2e6; text-decoration: none;">About</a></li>
                    </ul>
                    <ul>
                        <li><p style="color: #dee2e6; text-decoration: none;">For Advertisers <span style="font-size: larger; font-weight: bold;">: </span>

</p><p style="color: #dee2e6;">For Business Posting And Inqueries You May Call At +(63) 09234648296</p>

<br><p></p></li>
                        
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright" style="background: #f2711c; border-top: none;">
                    <div class="footer__copyright__text"><p style="color: #212529de;">
                            Copyright ©<script>document.write(new Date().getFullYear());</script>2020 All rights reserved | This Website is powered and made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="" target="_blank"><span style="color: #f8f9fa">Presspen</span></a>
                            </p>
                    </div>
                    <div class="footer__copyright__links">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../../presspen_js/jquery-3.3.1.min.js"></script>
    <script src="../../presspen_js/bootstrap.min.js"></script>
    <script src="../../presspen_js/jquery.nice-select.min.js"></script>
    <script src="../../presspen_js/jquery-ui.min.js"></script>
    <script src="../../presspen_js/jquery.nicescroll.min.js"></script>
    <script src="../../presspen_js/jquery.barfiller.js"></script>
    <script src="../../presspen_js/jquery.magnific-popup.min.js"></script>
    <script src="../../presspen_js/jquery.slicknav.js"></script>
    <script src="../../presspen_js/owl.carousel.min.js"></script>
    <script src="../../presspen_js/main.js"></script>
